/* 470 

_____________________________________________________

320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1.ROOT
2.HEADINGS
3.TYPOGRAPHY */

p { margin-bottom: 1em; line-height: 1.75em; }

/*
4.LINKS
5.FIGURES & IMAGES
6.TABLES
7.FORMS (See css/mylibs/forms.css)
8.BANNER — header[role="banner"]
9.NAVIGATION — nav[role="navigation"]
10.CONTENT
11.MAIN — div[role="main"]
12.COMPLIMENTARY — div[role="complementary"]
13.CONTENTINFO — footer[role="contentinfo"]
14.GLOBAL OBJECTS
15.VENDOR-SPECIFIC 
16.TEMPLATE SPECIFICS
17.MODERNIZR

*/

/* 1.ROOT */
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
.league, .chunk { text-shadow: 0 0 0 rgba(0, 0, 0, 0.3) ,1px 1px 0 rgba(255, 255, 255, 0.8); }

.league { font-size: 2.25em; }
.chunk { font-size: 1.125em; }

/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS (See css/mylibs/forms.css) */
/* 8.BANNER */
header { padding: 35px 0px; }

/* 9.NAVIGATION */
/* 10.CONTENT */
.content { 
  padding-top: 30px;
  margin-bottom: 50px;
  }

/* 11.MAIN */

.columns {
  width: 700px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

figure {
  padding: 10px;
  background-color: #fff; /* non css3 friendly browsers */
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#ddd5ce'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd5ce)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #ddd5ce); /* for firefox 3.6+ */
  
  -moz-box-shadow: 0px 0px 9px rgba(128,97,71,0.8);
  -webkit-box-shadow: 0px 0px 9px rgba(128,97,71,0.8);
  box-shadow: 0px 0px 9px rgba(128,97,71,0.8);
  
  float: right;

  }
  
  figure img { display: inline; }


/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */

