/* Sizes: 620 and up

_____________________________________________________
320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________
*/

/* 1.ROOT */
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */

ul.highlights {
  font-size: 1.1em;
}

/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS (See css/mylibs/forms.css) */
/* 8.BANNER */

header,
.launchdate,
.signup-form,
.sponsors {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
 }

/* 9.NAVIGATION */
/* 10.CONTENT */

.speech {
  width: 390px;
  float: left;
  clear: none;
  position: relative;
}

.arrow {
  display: block;
  visibility: visible;
  position: absolute;
  top: 120px;
  width: 52px;
  height: 30px;
  background: url(../img/arrow.png) 0px 0px no-repeat;
}

.bubble {
  margin-top: 42px;
  width: 345px;
  float: right;
  text-align: left;
  padding: 15px 20px;
}

.logo {
  float: left;
}

.follow {
  font-family: kulturista-web,serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  padding-left: 30px;
  background: url(../img/tweet.png) 0px 10px no-repeat;
  float: right;
  width: 325px;
  margin: 0px 5px;
}

.launchdate {
  margin-top: 40px;
  font-size: 2em;
  line-height: 1.5em;
}

.signup-form {
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 1.6em;
}

.sponsors {
}
  .sponsors h2 {
  }
  .sponsors h3 {
  }

  .sponsors div {
  }
  .sponsors .lonestar {
    clear: none;
    float: left;
    width: 140px;
    margin-right: 20px;
  }
  .sponsors .longhorns {
    clear: none;
    float: left;
    width: 460px;
  }
  .sponsors .armadillos {
  }
  .sponsors .bats {
  }

/*
canvas {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
}
*/

/* 11.MAIN */
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */
