/* @import url(mylibs/forms.css); */

/* 320

_____________________________________________________

320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1.ROOT
2.HEADINGS
3.TYPOGRAPHY
4.LINKS
5.FIGURES & IMAGES
6.TABLES
7.FORMS (See css/mylibs/forms.css)
8.BANNER — header[role="banner"]
9.NAVIGATION — nav[role="navigation"]
10.CONTENT
11.MAIN — div[role="main"]
12.COMPLIMENTARY — div[role="complementary"]
13.CONTENTINFO — footer[role="contentinfo"]
14.GLOBAL OBJECTS
15.VENDOR-SPECIFIC 
16.TEMPLATE SPECIFICS
17.MODERNIZR

COLOURS 

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin : 0;
padding : 0;
border : 0;
font-size : 100%;
font : inherit;
vertical-align : baseline; }

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display : block; }

/* 1.ROOT */
html { overflow-y : scroll; }

body { 
margin : 0 auto;
font : 100%/1.4 Cambria, Georgia, Times, "Times New Roman";
color : rgb(64,45,36); 
background-color : #E0DBC3; }

/* 2.HEADINGS */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
font-family : "Helvetica Neue", Helvetica, Arial;
font-weight : bold;
text-align: center;
}

h1 { 
margin-bottom : .75em;
font-size : 3em; /* 48 / 16 = 3 */
line-height : 1.2; }

h2 { 
margin-bottom : .75em;
font-size : 2em; /* 32 / 16 = 2 */
line-height : 1.3; }

h3 { 
margin-bottom : 1em;
font-size : 1.25em; /* 20 / 16 = 1.25 */
line-height : 1.25; }

h4 { 
margin-bottom : 1.25em;
font-size : 1em; /* 16 / 16 = 1 */ }

h2 {
  font-family: 'League Gothic';
  text-transform: uppercase;
  }

/* 3.TYPOGRAPHY */

p, 
ol, 
ul, 
dl, 
address {  
font-size : 1em; /* 16 / 16 = 1 */ }

ul, 
ol { 
margin : 0 0 1.5em -24px; 
padding-left : 24px; }

ul { 
list-style-type : disc; }

ol { 
list-style-type : decimal; }

li ul, 
li ol { 
margin : 0;
font-size : 1em; /* 16 / 16 = 1 */ }

b, 
strong	{ 
font-weight : bold; }

i, 
em { 
font-style : italic; }

/* 3.5.WEBFONTS */

@font-face {
	font-family: 'League Gothic';
	src: url('../fonts/league-gothic/league_gothic-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/league-gothic/league_gothic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/league-gothic/league_gothic-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/league-gothic/league_gothic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/league-gothic/league_gothic-webfont.svg#webfontPRGgo10y') format('svg'); /* Legacy iOS */
	}
	
	.league { font-family: 'League Gothic'; text-transform: uppercase; }

@font-face {
	font-family: 'Chunk Five';
	src: url('../fonts/chunk-five/chunkfive-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/chunk-five/chunkfive-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/chunk-five/chunkfive-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/chunk-five/chunkfive-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/chunk-five/chunkfive-webfont.svg#webfontPRGgo10y') format('svg'); /* Legacy iOS */
	}
	
	.chunk { font-family: 'Chunk Five'; text-transform: uppercase; }
	
	.league { font-size: 2.5em; }
  .chunk { font-size: 1.85em; }

/* 4.LINKS */

a, 
a:visited {
outline : none;
color : rgb(23,119,175);
text-decoration : none; }
 
a:hover { 
outline : none;
color : rgb(40,40,40); 
text-decoration : underline; }
 
a:active, 
a:focus { 
outline : none;
color : rgb(0,0,0); }


/* 8.BANNER */
header {
  background: #e1dcc4 url('../img/top-bg.jpg') top center no-repeat;
  padding: 10px;
  text-align: center;
  
  -webkit-transition: padding 0.5s ease-in;  
  -moz-transition: padding 0.5s ease-in;  
  -o-transition: padding 0.5s ease-in;  
  transition: padding 0.5s ease-in;
  }
  
/* 9.NAVIGATION */
/* 10.CONTENT */
.content {  background: #e0dbc3 url('../img/main-bg.jpg') center 1px no-repeat; }

figure { 
  text-align: center;  
  -webkit-transition: margin 0.5s ease-in;  
  -moz-transition: margin 0.5s ease-in;  
  -o-transition: margin 0.5s ease-in;  
  transition: margin 0.5s ease-in;
  }
  
  figure img { display: none; }

/* 11.MAIN */
.columns { text-align: center; padding-top: 15px; padding-bottom: 50px; }

.venue {
  margin: 0 auto;
  background-image: url(../img/venue.jpg);
  width: 252px;
  height: 127px;
}

/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */

footer {
  text-align: center;
}

/* 14.GLOBAL OBJECTS */

.clearfix { 
zoom : 1; }

.clearfix:before, 
.clearfix:after { 
content : "\0020"; 
display : block; 
height : 0; 
overflow : hidden; }

.clearfix:after { 
clear : both; }

/* 15.VENDOR-SPECIFIC */

body {
-webkit-text-size-adjust : 100%; 
-ms-text-size-adjust : 100%; }

a:link { 
-webkit-tap-highlight-color : rgb(52,158,219); }

::-webkit-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::-moz-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

/* input[type=search] {
-webkit-appearance : none; }

input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
display : none; } */

::-webkit-input-placeholder {
padding : 10px;
font-size : .875em; 
line-height : 1.4; }

input:-moz-placeholder { 
padding : 10px;
font-size : .875em; 
line-height : 1.4; }

.ie7 img,
.iem7 img { 
-ms-interpolation-mode : bicubic; }

img { max-width: 100%; }

div,
input,
textarea  { 
-webkit-box-sizing : border-box;
-moz-box-sizing : border-box;
-o-box-sizing : border-box;
box-sizing : border-box; }

/* Non-semantic helper classes */

/* Image replacement */
.ir { 
display : block; 
text-indent : -999em; 
overflow : hidden; 
background-repeat : no-repeat; 
text-align : left; 
direction : ltr; }


/* Allow an element to be focusable via keyboard  */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { 
position : static;
clip : auto; 
overflow : visible;
height : auto; 
margin : 0;   
width : auto; }

