/* @import url(mylibs/forms.css); */

/* 320

_____________________________________________________

320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1.ROOT
2.HEADINGS
3.TYPOGRAPHY
4.LINKS
5.FIGURES & IMAGES
6.TABLES
7.FORMS (See css/mylibs/forms.css)
8.BANNER — header[role="banner"]
9.NAVIGATION — nav[role="navigation"]
10.CONTENT
11.MAIN — div[role="main"]
12.COMPLIMENTARY — div[role="complementary"]
13.CONTENTINFO — footer[role="contentinfo"]
14.GLOBAL OBJECTS
15.VENDOR-SPECIFIC
16.TEMPLATE SPECIFICS
17.MODERNIZR

COLOURS

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin : 0;
  padding : 0;
  border : 0;
  font-size : 100%;
  font : inherit;
  vertical-align : baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display : block;
}

/* 1.ROOT */
html {
  overflow-y : scroll;
}

body {
  margin : 0 auto;
  padding : 20px;
  font : 100%/1.4 Arial, Helvetica, sans-serif;
  color : rgb(255,255,255);
  background : #142835 url('../img/main-bg.jpg') center 1px no-repeat;
}

/* 2.HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family : "Helvetica Neue", Helvetica, Arial;
  font-weight : bold;
  text-align: left;
}

h1 {
}

h2 {
  margin-bottom : .75em;
  font-size : 2em; /* 32 / 16 = 2 */
  line-height : 1.3;
}

h3 {
  margin-bottom : 1em;
  font-size : 1.25em; /* 20 / 16 = 1.25 */
  line-height : 1.25;
}

h4 {
  margin-bottom : 1.25em;
  font-size : 1em; /* 16 / 16 = 1 */
}

/* 3.TYPOGRAPHY */

p,
ol,
ul,
dl,
address {
  font-size : 1em; /* 16 / 16 = 1 */
}

ul {
  list-style-type : disc;
}

ol {
  list-style-type : decimal;
}

li ul,
li ol {
  margin : 0;
  font-size : 1em; /* 16 / 16 = 1 */
}

ul.highlights {
  list-style: none;
  font-family: kulturista-web,serif;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  color: #166cac;
}

b,
strong {
  font-weight : bold;
}

i,
em {
  font-style : italic;
}

/* 3.5.WEBFONTS */

.gloriola { font-family: gloriola-web,sans-serif; }
.kulturista { font-family: kulturista-web,serif; }

/*
font-family: kulturista-web,serif;
font-style: normal;
font-weight: 600;
*/

/* 4.LINKS */

a,
a:visited {
  outline : none;
  color : #ed9310;
  text-decoration : none;
}

a:hover {
  outline : none;
  color : #fff;
  text-decoration : underline;
}

a:active,
a:focus {
  outline : none;
  color : rgb(0,0,0);
}


/* 8.BANNER */
header {
  text-align: left;
}

/* 9.NAVIGATION */
/* 10.CONTENT */

.speech {
  width: 100%;
  display: block;
  clear: both;
  float: none;
  padding: 0;
  margin: 0 auto;
}

.arrow {
  display: none;
  visibility: hidden;
}

.bubble {
  background-color: #ebf6fa;
  color: #666666;
  border: 5px solid #abcddc;

  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;

  float: none;
  width: 280px;
  margin: 8px auto 10px auto;
  padding: 15px;
}
  .bubble p.title {
    margin-bottom: 4px;
    font-size: 1.8em;
    font-family: gloriola-web,sans-serif;
    font-size : 2.1em; /* 35 / 16 = 3 */
    line-height : 1.2;
    font-weight: bold;
    color: #d24813;
  }
  .bubble h1 {
    font-weight: 600;
    font-size: 1.1em; /* approx 18 / 16 = 1.1 */
    line-height: 1.4em;
    margin-bottom: 4px;
  }

.follow {
  font-family: kulturista-web,serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3em;
  padding-left: 10px;
  background: url(../img/tweet.png) 0px 6px no-repeat;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.launchdate {
  text-align: center;
  margin-top: 30px;
  color: #c5d4ef;
  font-size: 1.6em;
  line-height: 1.5em;
  font-family: kulturista-web,serif;
}

.signup-form {
  margin-top: 30px;
  color: #c5d4ef;
  font-size: 1.4em;
  line-height: 1.5em;
  font-family: kulturista-web,serif;
}

figure {
  width: 220px;
  margin: 0 auto;
}

/* 11.MAIN */
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */

.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content : "\0020";
  display : block;
  height : 0;
  overflow : hidden;
}

.clearfix:after {
  clear : both;
}

/* 15.VENDOR-SPECIFIC */

body {
-webkit-text-size-adjust : 100%;
-ms-text-size-adjust : 100%; }

a:link {
-webkit-tap-highlight-color : rgb(52,158,219); }

::-webkit-selection {
background : rgb(23,119,175);
color : rgb(250,250,250);
text-shadow : none; }

::-moz-selection {
background : rgb(23,119,175);
color : rgb(250,250,250);
text-shadow : none; }

::selection {
background : rgb(23,119,175);
color : rgb(250,250,250);
text-shadow : none; }

/* input[type=search] {
-webkit-appearance : none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
display : none; } */

::-webkit-input-placeholder {
  padding : 10px;
  font-size : .875em;
  line-height : 1.4;
}

input:-moz-placeholder {
  padding : 10px;
  font-size : .875em;
  line-height : 1.4;
}

.ie7 img,
.iem7 img {
  -ms-interpolation-mode : bicubic;
}

img { max-width: 100%; }

div,
input,
textarea  {
  -webkit-box-sizing : border-box;
  -moz-box-sizing : border-box;
  -o-box-sizing : border-box;
  box-sizing : border-box;
}

/* Non-semantic helper classes */

/* Image replacement */
.ir {
  display : block;
  text-indent : -999em;
  overflow : hidden;
  background-repeat : no-repeat;
  text-align : left;
  direction : ltr;
}

/* Allow an element to be focusable via keyboard  */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position : static;
  clip : auto;
  overflow : visible;
  height : auto;
  margin : 0;
  width : auto;
}
