<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteCond %{HTTP_HOST} ^drupalcampaustin\.org$ [NC]
  RewriteRule ^(.*)$ http://2011.drupalcampaustin.org/$1 [L,R=302]

  RewriteCond %{HTTP_HOST} ^www.drupalcampaustin\.org$ [NC]
  RewriteRule ^(.*)$ http://drupalcampaustin.org/$1 [L,R=301]
</IfModule>
